
<!DOCTYPE html>
<html>
<head>
  <meta charset='utf-8'>
  <meta name='viewport' content='width=device-width, initial-scale=1.0,maximum-scale=1.0, user-scalable=no'/>
  <meta http-equiv='X-UA-Compatible' content='IE=edge,chrome=1'/>
  <meta name='renderer' content='webkit'>
  <meta name='format-detection' content='telephone=no'>
  <meta http-equiv='Cache-Control' content='no-siteapp'/>
  <link href="/static/favicon.ico" type="image/x-icon" rel="shortcut icon">
  <title>管理员 | 签到系统</title>
  <link href="https://cdn.jsdelivr.net/npm/@mdi/font@5.x/css/materialdesignicons.min.css" rel="stylesheet">
  <link href="https://cdn.jsdelivr.net/npm/vuetify@2.x/dist/vuetify.min.css" rel="stylesheet">
  <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no, minimal-ui">
</head>
<body>
<div id="app">
  <v-app id="inspire">
    <v-app-bar app>
      <v-toolbar-title>管理员面板</v-toolbar-title>
    </v-app-bar>

    <v-main>
      
      <v-container>
        <!--  -->
        <v-alert
        class="ma-2"
        text
        color="info"
        >
        <h3 class="text-h5">
            管理员您好
        </h3>
        <div>如果遇到什么问题可以联系QQ:2867984618</div>
        <div>系统现已支持多任务并行，您可以在发布多个签到活动了。</div>

        <v-divider
            class="my-4 info"
            style="opacity: 0.22"
        ></v-divider>

        <div class="v-text-body-1">
            您当前所管理的班级名称为<code>{{class_info.class_name}}</code>,一共有<code>{{class_info.total}}</code>名同学已加入班级。
            新同学可以使用班级代码<code>{{class_info.class_code}}</code>加入。
        </div>
        </v-alert>

        <!-- 菜单开始 -->
        <v-list-item-group color="primary" class="ma-2">

            
            <v-list-item @click="edit_class" link>
                <v-list-item-icon>
                  <v-icon>mdi-google-classroom</v-icon>
                </v-list-item-icon>
                <v-list-item-content>
                  <v-list-item-title>修改班级信息</v-list-item-title>
                </v-list-item-content>
            </v-list-item>

              <v-list-item @click="show_act_list" link>
                <v-list-item-icon>
                  <v-icon>mdi-format-list-bulleted</v-icon>
                </v-list-item-icon>
                <v-list-item-content>
                  <v-list-item-title>活动管理</v-list-item-title>
                </v-list-item-content>
              </v-list-item>

              <v-divider></v-divider>

              <v-list-item href="/user/" link>
                <v-list-item-icon>
                  <v-icon>mdi-keyboard-return</v-icon>
                </v-list-item-icon>
                <v-list-item-content>
                  <v-list-item-title>返回用户端</v-list-item-title>
                </v-list-item-content>
              </v-list-item>
    
          </v-list-item-group>
          <!-- 菜单结束 -->


      </v-container>


      <!-- 提示框 -->
      <v-dialog v-model="dialog.open" max-width="500px">
        <v-card>
          <v-card-title>{{dialog.title}}</v-card-title>
          <v-card-text>
              {{dialog.text}}
          </v-card-text>
          <v-card-actions>
            <v-spacer></v-spacer>
            <v-btn color="blue darken-1" text @click="dialog.open=!dialog.open">OK</v-btn>
          </v-card-actions>
        </v-card>
      </v-dialog>

      <!-- 编辑班级信息 -->
        <v-dialog v-model="editClassDialog" max-width="500px">
            <v-card>
            <v-card-title>编辑班级信息</v-card-title>
            <v-card-text>
                <v-text-field
                    label="班级名称"
                    v-model="class_edit.class_name"
                    outlined
                ></v-text-field>
                <v-text-field
                    label="班级代码"
                    v-model="class_edit.class_code"
                    outlined
                ></v-text-field>
            </v-card-text>
            <v-card-actions>
                <v-spacer></v-spacer>
                <v-btn color="blue darken-1" text @click="editClassDialog=!editClassDialog">取消</v-btn>
                <v-btn color="blue darken-1" text @click="save_class">保存</v-btn>
            </v-card-actions>
            </v-card>
        </v-dialog>

        <!-- 加载框 -->
      <v-dialog
        v-model="loading_dialog"
        hide-overlay
        persistent
        width="300"
        >
        <v-card
            color="white"
            dark
        >
            <v-card-text class="mt-1 primary--text">
            加载中
            <v-progress-linear
                indeterminate
                color="primary"
                class="mb-0"
            ></v-progress-linear>
            </v-card-text>
        </v-card>
        </v-dialog>


        <!-- 活动列表 -->
        <v-dialog v-model="act_list_dialog" fullscreen hide-overlay transition="dialog-bottom-transition">
            <v-card>
                <v-toolbar
                  color="cyan"
                  dark
                  flat
                >
                <v-btn icon dark @click="act_list_dialog = false">
                    <v-icon>mdi-close</v-icon>
                </v-btn>
                  <v-toolbar-title>活动管理</v-toolbar-title>
                  <v-spacer></v-spacer>
                  <v-btn depressed color="cyan darken-2" @click="new_act">
                    新建活动
                  </v-btn>
                  <template v-slot:extension>
                    <v-tabs v-model="act_list_tab" align-with-title>
                      <v-tabs-slider color="yellow"></v-tabs-slider>
                      <v-tab>
                        <v-badge color="pink" dot v-if="act_list.active_num!=0">
                            当前活动
                        </v-badge>
                        {{act_list.active_num==0?'当前活动':''}}
                      </v-tab>
                      <v-tab>
                        历史活动
                      </v-tab>
                      <v-tab-item>
                        <v-card>
                        <v-container>
                            <!-- 当前活动 -->
                            <v-list three-line>
                                <template v-for="(item, index) in act_list.active_list">
                                  <v-list-item :key="index">
                                    <v-list-item-avatar>
                                      <v-icon>mdi-calendar-cursor</v-icon>
                                    </v-list-item-avatar>
                                    <v-list-item-content>
                                      <v-list-item-title v-html="item.name"></v-list-item-title>
                                      <v-list-item-subtitle >创建时间{{item.begin_time}}</v-list-item-subtitle>
                                      <v-list-item-subtitle >截止时间{{item.end_time}}</v-list-item-subtitle>
                                    </v-list-item-content>
                                    <v-list-item-action>
                                      <v-btn depressed @click="edit_act(item)">
                                        编辑
                                      </v-btn>
                                    </v-list-item-action>
                                    <v-list-item-action>
                                        <v-btn depressed @click="get_sts(item)">
                                          数据
                                        </v-btn>
                                        <v-list-item-action-text class="text-center">创建人:{{item.create_by}}</v-list-item-action-text>
                                      </v-list-item-action>
                                  </v-list-item>
                                </template>
                            </v-list>
                            <!-- 当前活动 -->
                        </v-container>
                        </v-card>
                      </v-tab-item>
                      <v-tab-item>
                        <v-card>
                            <!-- 历史活动 -->
                            <v-list three-line>
                                <template v-for="(item, index) in act_list.history_list">
                                  <v-list-item :key="index">
                                    <v-list-item-avatar>
                                      <v-icon>mdi-calendar-lock</v-icon>
                                    </v-list-item-avatar>
                                    <v-list-item-content>
                                      <v-list-item-title v-html="item.name"></v-list-item-title>
                                      <v-list-item-subtitle >创建时间{{item.begin_time}}</v-list-item-subtitle>
                                      <v-list-item-subtitle >截止时间{{item.end_time}}</v-list-item-subtitle>
                                    </v-list-item-content>
                                    <v-list-item-action>
                                      <v-btn depressed @click="edit_act(item)">
                                        编辑
                                      </v-btn>
                                    </v-list-item-action>
                                    <v-list-item-action>
                                        <v-btn depressed @click="get_sts(item)">
                                          数据
                                        </v-btn>
                                        <v-list-item-action-text class="text-center">创建人:{{item.create_by}}</v-list-item-action-text>
                                      </v-list-item-action>
                                  </v-list-item>
                                  </v-list-item>
                                </template>
                            </v-list>
                            <!-- 历史活动 -->
                        </v-card>
                      </v-tab-item>
                    </v-tabs>
                  </template>
                </v-toolbar>
            </v-card>
        </v-dialog>


        <!-- 编辑活动信息 -->
        <v-dialog
            v-model="act_dialog"
            fullscreen
            hide-overlay
            transition="dialog-bottom-transition"
        >
        <v-card>
            <v-toolbar
            dark
            color="primary"
            >
            <v-btn
                icon
                dark
                @click="act_dialog = false"
            >
                <v-icon>mdi-close</v-icon>
            </v-btn>
            <v-toolbar-title>{{act_edit_mode == "new"?"新建活动":"编辑当前活动"}}</v-toolbar-title>
            <v-spacer></v-spacer>
            
            <v-toolbar-items>
            <v-btn
            dark
            text
            @click="save_act"
            >
            保存
            </v-btn>
            </v-toolbar-items>
            </v-toolbar>
            
            <!-- 编辑区开始 -->
            <v-container>
                <v-alert
                    dense
                    type="info"
                    icon="mdi-folder-plus-outline"
                    v-if="act_edit_mode=='new'"
                    class="mt-2 mb-4"
                >
                请正确填写结束日期，活动状态会在到期后自动变更。
                <br>
                建议管理员为每一个活动都选择不同的配图，便于区分。
                <br>
                保存之后，活动即开始，系统将向班级内每一位同学发送通知。
                </v-alert>
                <v-alert
                dense
                color="#2A3B4D"
                dark
                icon="mdi-calendar-edit"
                v-if="act_edit_mode=='edit'"
                class="mt-2 mb-4"
                >
                若您提前关闭此活动，我们将自动为您设置结束时间。
                </v-alert>

                <v-text-field
                    label="活动名称"
                    v-model="act_info.name"
                    :rules="name_rule"
                    hint="建议不要与过去的重复，可以是:第x周xxxx"
                    outlined
                ></v-text-field>

                <v-switch
                v-model="act_info.active"
                v-if="act_edit_mode=='edit'"
                inset
                label="是否启用活动"
                class="my-0"
                ></v-switch>
                
                <v-textarea
                    label="活动公告"
                    v-model="act_info.announcement"
                    :rules="announcement_rule"
                    outlined
                ></v-textarea>

                <v-text-field
                    label="完成签到提示语"
                    v-model="act_info.cheer_text"
                    :rules="cheerText_rule"
                    outlined
                ></v-text-field>

                <div class="text-overline">头图设置</div>
                <div class="text-body-1 mb-3">
                    我们允许您个性化设置签到卡片的背景图片，如果您要使用默认图片的话，下方输入框请 <code>留空</code>。
                    <br>
                    如果需要自定义图片，请前往<a href="https://sm.ms" target="_blank">SM.MS</a>上传图片，在下方填入图片的地址。
                    <br>
                    地址示例: <code>https://i.loli.net/2021/10/24/9DjB5EhacuVGPHT.jpg</code>，预览卡片会同步更新。
                </div>
                <v-text-field
                    label="头图地址"
                    v-model="act_info.pic"
                    outlined
                ></v-text-field>


                <!-- 预览 -->
                <v-container>
                    <v-card
                    class="mx-auto"
                    max-width="400"
                    >
                    <v-img
                        class="white--text align-end"
                        height="200px"
                        :src="img_preview"
                        gradient="to top right, rgba(0,0,0,.7), rgba(240,255,255,.3)"
                    >
                        <v-card-title class="font-weight-black">
                            {{act_info.name}}
                          </v-card-title>
                          <v-card-subtitle class="text-caption">
                            还有xxx等x名同学未完成
                          </v-card-subtitle>
                    </v-img>
                
                    <v-card-subtitle class="pb-0">
                        预览卡片
                    </v-card-subtitle>
                
                    <v-card-text class="text--primary pt-5">
                        <div>{{act_info.announcement}}</div>
                    </v-card-text>
                
                    <v-card-actions>
                        <v-btn
                        color="orange"
                        large
                        text
                        >
                        签到
                        </v-btn>
                        <v-btn
                        color="primary"
                        large
                        text
                        >
                        完成情况
                        </v-btn>
                    </v-card-actions>
                    </v-card>
                </v-container>
                <!-- 预览结束 -->

                <!-- 结束时间选择 -->
                <v-menu
                        ref="end_date_menu"
                        v-model="date_time_menu.end_date_menu"
                        :close-on-content-click="false"
                        :return-value.sync="act_info.end_time.d"
                        transition="scale-transition"
                        offset-y
                        min-width="auto"
                >
                    <template v-slot:activator="{ on, attrs }">
                        <v-text-field
                                v-model="act_info.end_time.d"
                                label="选择活动结束日期"
                                prepend-icon="mdi-calendar"
                                readonly
                                v-bind="attrs"
                                v-on="on"
                        ></v-text-field>
                    </template>
                    <v-date-picker
                            v-model="act_info.end_time.d"
                            no-title
                            scrollable
                    >
                        <v-spacer></v-spacer>
                        <v-btn
                                text
                                color="primary"
                                @click="date_time_menu.end_date_menu = false"
                        >
                            Cancel
                        </v-btn>
                        <v-btn
                                text
                                color="primary"
                                @click="$refs.end_date_menu.save(act_info.end_time.d)"
                        >
                            OK
                        </v-btn>
                    </v-date-picker>
                </v-menu>
                <v-menu
                        ref="end_time_menu"
                        v-model="date_time_menu.end_time_menu"
                        :close-on-content-click="false"
                        :nudge-right="40"
                        :return-value.sync="act_info.end_time.t"
                        transition="scale-transition"
                        offset-y
                        max-width="290px"
                        min-width="290px"
                >
                    <template v-slot:activator="{ on, attrs }">
                        <v-text-field
                                v-model="act_info.end_time.t"
                                label="活动结束时间(24小时制)"
                                prepend-icon="mdi-clock-time-four-outline"
                                readonly
                                v-bind="attrs"
                                v-on="on"
                        ></v-text-field>
                    </template>
                    <v-time-picker
                            v-if="date_time_menu.end_time_menu"
                            v-model="act_info.end_time.t"
                            format="24hr"
                            full-width
                            @click:minute="$refs.end_time_menu.save(act_info.end_time.t)"
                    ></v-time-picker>
                </v-menu>

                <small>完成编辑后记得点击右上角的“保存”按钮</small>
            </v-container>
            <!-- 结束时间选择 -->
            

            <!-- 编辑区结束 -->

        </v-card>
        </v-dialog>
        
        <!-- 活动统计数据 -->
        <v-dialog
            v-model="sts_dialog"
            fullscreen
            hide-overlay
            transition="dialog-bottom-transition"
        >
        <v-card>
            <v-toolbar
            dark
            color="info"
            >
                <v-btn
                icon
                dark
                @click="sts_dialog = false"
                >
                <v-icon>mdi-close</v-icon>
                </v-btn>
                <v-toolbar-title>活动统计数据</v-toolbar-title>
                <v-spacer></v-spacer>
            </v-toolbar>
            <div class="pa-4">
            <div class="text-caption">
                数据统计刷新存在0~10s延迟。
            </div>
            </div>
            <v-card class="ma-2">
            <v-list dense class="pa-2">
                <v-subheader>未完成</v-subheader>
                <v-list-item-group
                    color="primary"
                >
                    <v-list-item
                    v-for="(item,i) in sts.unfinished_list"
                    :key="i"
                    >
                    <v-list-item-icon>
                        <v-icon v-text="item.id"></v-icon>
                    </v-list-item-icon>
                    <v-list-item-content>
                        <v-list-item-title>{{item.user_name}} (UID:{{item.user_id}})</v-list-item-title>
                    </v-list-item-content>
                    </v-list-item>
                </v-list-item-group>

                <v-divider></v-divider>

                <v-subheader>已完成</v-subheader>
                <v-list-item-group
                    color="primary"
                >
                    <v-list-item
                    v-for="(item,i) in sts.finished_list"
                    :key="i"
                    >
                    <v-list-item-icon>
                        <v-icon v-text="item.id"></v-icon>
                    </v-list-item-icon>
                    <v-list-item-content>
                        <v-list-item-title>{{item.user_name}} (UID:{{item.user_id}})</v-list-item-title>
                        <v-list-item-subtitle>完成时间:{{item.date_time}}</v-list-item-subtitle>
                    </v-list-item-content>
                    </v-list-item>
                </v-list-item-group>
            </v-list>
            </v-card>
            
        </v-card>
        </v-dialog>

    </v-main>

  </v-app>
</div>
<script src="https://cdn.jsdelivr.net/npm/js-cookie@2/src/js.cookie.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/vue@2.6.14/dist/vue.js"></script>
<script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/vuetify@2.x/dist/vuetify.min.js"></script>
<script>

  const backEndUrl = "{{api_url}}";
  new Vue({
    el: '#app',
    vuetify: new Vuetify(),
    data:{
        announcement_rule:[v => v.length <= 50 || '字数不能超过50'],
        name_rule:[v => v.length <= 40 || '字数不能超过40'],
        cheerText_rule:[v => v.length <= 20 || '字数不能超过20'],
      dialog:{
          open:false,
          title:'',
          text:''
      },
      act_list:{
        active_num:0,
        active_list:[],
        history_list:[],
      },
      class_info:{
          class_name:"",
          class_code:"",
          total:0,
          act_id:"",
          act_name:''
      },
      class_edit:{
          class_name:"",
          class_code:"",
      },
      act_dialog:false,
      editClassDialog:false,
      act_list_dialog:false,
      loading_dialog:false,
      sts_dialog:false,
      act_list_tab:0,
      act_info:{
          name:"",
          active:false,
          pic:"",
          announcement:"",
          cheer_text:"",
          end_time:{
              d:"",
              t:"",
          }
      },
      sts:{
        done:0,
        total:0,
        unfinished_list:[],
        finished_list:[],
      },
      act_edit_mode:"edit",
      date_time_menu:{
        begin_date_menu: false,
        begin_time_menu:false,
        end_date_menu: false,
        end_time_menu:false
        },
    },
    mounted:function(){
        //获取班级信息
        this.initClass()
    },
    methods:{
        initClass:function(){
            let _this = this
            axios({
                method: 'get',
                url: backEndUrl+"/api/admin/class/info",
            }).then(function (res) {
                if (res.data.status == 0){
                    _this.class_info = res.data.data
                }else{
                    _this.error(res.data.msg)
                }
            })
            .catch(function (error) {
                _this.error(error)
            })
        },
        edit_act:function(act_item){
            //获取要编辑的活动信息
            let _this = this
            axios({
                method: 'get',
                url: backEndUrl+"/api/admin/act/info",
                params:{
                    act_id:act_item.act_id,
                }
            }).then(function (res) {
                if (res.data.status == 0){
                    _this.act_info = res.data.data
                    _this.act_dialog = true
                    _this.act_edit_mode = "edit"
                }else{
                    _this.error(res.data.msg)
                }
            })
            .catch(function (error) {
                _this.error(error)
            })
        },
        new_act:function(){
            this.act_info.name = ""
            this.act_info.active = true
            this.act_info.announcement = ""
            this.act_info.pic = ""
            this.act_info.cheer_text = "恭喜完成"
            this.act_info.end_time.d = ""
            this.act_info.end_time.t = ""

            this.act_dialog = true
            this.act_edit_mode = "new"
        },
        edit_class:function(){
            this.editClassDialog = true
            this.class_edit.class_name = this.class_info.class_name
            this.class_edit.class_code = this.class_info.class_code
        },
        show_act_list:function(){
            let _this = this
            this.loading_dialog = true
            axios({
                method: 'get',
                url: backEndUrl+"/api/admin/act/list",
            }).then(function (res) {
                if (res.data.status == 0){
                    _this.act_list = res.data.data
                    _this.act_list_dialog = true
                    _this.loading_dialog = false
                }else{
                    _this.error(res.data.msg)
                }
            }).catch(function (error) {
                _this.error(error)
            })
        },
        save_class:function(){
            let _this = this
            axios({
                method: 'post',
                url: backEndUrl+"/api/admin/class/edit",
                data:_this.class_edit
            }).then(function (res) {
                if (res.data.status == 0){
                    _this.success("保存成功")
                    _this.editClassDialog = false
                    _this.initClass()
                }else{
                    _this.error(res.data.msg)
                }
            })
            .catch(function (error) {
                _this.error(error)
            })
        },
        save_act:function(){
            let apiUrl = ""
            let _this = this
            if (this.act_edit_mode == "new"){
                apiUrl = "/api/admin/act/new"
            }else if (this.act_edit_mode == "edit"){
                apiUrl = "/api/admin/act/edit"
            }

            axios({
                method: 'post',
                url: backEndUrl+apiUrl,
                data:_this.act_info
            }).then(function (res) {
                if (res.data.status == 0){
                    _this.success("保存成功")
                    _this.act_dialog = false
                    _this.show_act_list()
                }else{
                    _this.error(res.data.msg)
                }
            })
            .catch(function (error) {
                // 处理错误情况
                _this.error(error)
            })

        },
        get_sts:function(info_item){
            let _this = this
            //获取统计数据
            axios({
                method: 'get',
                url: backEndUrl+'/api/admin/act/statistic',
                params:{
                    act_id:info_item.act_id
                }
            }).then(function (res) {
                // 处理成功情况
                if (res.data.status == 0){
                    _this.sts.done = res.data.data.done
                    _this.sts.total = res.data.data.total
                    _this.sts.unfinished_list = res.data.data.unfinished_list
                    _this.sts.finished_list = res.data.data.finished_list
                    _this.sts_dialog = true
                }else{
                    _this.error(res.data.msg)
                }
            })
            .catch(function (error) {
                // 处理错误情况
                _this.error(error)
            })
        },
        success:function(text){
            this.dialog.open = true
            this.dialog.title = '成功'
            this.dialog.text = text
        },
        error:function(text){
            this.dialog.open = true
            this.dialog.title = '失败'
            this.dialog.text = text
        },
    },
    watch: {
      
    },
    computed:{
        img_preview:function(){
            if (this.act_info.pic == ""){
                return "/static/image/default.jpg"
            }else{
                return this.act_info.pic
            }
        }
    },
  })
</script>
</body>
</html>